.all-stations-container {
    display: grid;
    grid-template-rows: auto 1fr;
    
    
   

}

.all-stations-header {
    text-align: start;
    padding: 10px 0;
    color: #ffffff;
    font-size: 32px;

    margin-left: 45px;
    
}

.all-stations-list {
    gap: 20px;
    display: flex;
    flex-wrap:wrap;
    min-width: 50%;
    max-width: 100%;
    margin-left: 70px;
    
    
    
}

// ///////////////////////////////////////////////////////////////////////////


.all-station-preview {
    position: relative;
    border: none;
    text-align: center;
    color: $spotify-gray;
    background-color: transparent;
    height: 236px;
    width: 178px;
    box-shadow: none;
    

    // Hover effects and background overlay
    &:hover {
        opacity: 0.8; /* Lower opacity for a subtle effect */
       
    }

    &:hover .all-play-button-container {
        transform: translateY(-55px);
        opacity: 1;
    }

    &:hover:before {
        opacity: 1; // On hover, show the background overlay
    }

    .all-station-preview-container {
        max-height: 236px;
        max-width: 178px;
        min-height: 236px;
        min-width: 178px;
        overflow: hidden;
        padding: 10px;
        z-index: 1; // Ensure container stays above the overlay
    }

    .all-station-preview-img {
        width: 100%;
        aspect-ratio: 1;
        object-fit: cover;
       
        border-radius: 6px;
        z-index: 1; // Keep the image above the background overlay
    }

    // Play button container styles
    .all-play-button-container {
        position: absolute;
        right: em(17px);
        z-index: 2; // Ensure button stays above the overlay and image
        width: 48px;
        height: 48px;
        opacity: 0;
        transform: translateY(-45px);

      
        background-color: #1ed760;
        border-radius: 50%;

        .all-play-button {
            position: absolute;
            bottom: em(4px);
            right: em(2px);
            width: 42px;
            height: 42px;
            color: $spotify-light;
            border: none;
            border-radius: 50%;
            cursor: pointer;
            background-color: $spotify-green;
            
        }
    }
}

