.all-stations-container {
    display: grid;
    grid-template-rows: auto 1fr;




}

.all-stations-header {
    text-align: start;
    padding: 10px 0;
    color: #ffffff;
    font-size: 32px;

    margin-left: 45px;

}

.all-stations-list {
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
    min-width: 50%;
    max-width: 100%;
    margin-left: 70px;



}

// ///////////////////////////////////////////////////////////////////////////


.all-station-preview {
    position: relative;
    border: none;
    text-align: center;
    color: $spotify-gray;
    background-color: transparent;
    height: 236px;
    width: 178px;
    box-shadow: none;


    // Hover effects and background overlay

    &:hover .all-play-button-container {
        transform: translateY(-55px);
        opacity: 1;
    }

    &:hover:before {
        opacity: 1; // On hover, show the background overlay
    }

    .all-station-preview-container {
        max-height: 236px;
        max-width: 178px;
        min-height: 236px;
        min-width: 178px;
        overflow: hidden;
        padding: 10px;
        z-index: 1;
        background-color: rgba(255, 255, 255, 0); // Initially transparent background

        &:hover:before {
            opacity: 1; // On hover, show the background overlay
        }
        // Pseudo-element for background opacity on hover
        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(255, 255, 255, 0.1); // 10% opacity
            z-index: 0;
            opacity: 0;
            transition: opacity 0.3s ease;
            border-radius: 8px;
        }
    }

    .all-station-preview-img {
        width: 94%;
        aspect-ratio: 1;
        object-fit: cover;
        border-radius: 6px;
        z-index: 1;
        
    }

    // Play button container styles
    .all-play-button-container {
        position: absolute;
        right: 17px;
        z-index: 2;
        width: 48px;
        height: 48px;
        opacity: 0;
        transform: translateY(-45px);
        background-color: #1ed760;
        border-radius: 50%;
       

        &:hover {
            opacity: 1;
        }

        .all-play-button {
            position: absolute;
            bottom: 4px;
            right: 2px;
            width: 42px;
            height: 42px;
            color: $spotify-light;
            border: none;
            border-radius: 50%;
            cursor: pointer;
            background-color: $spotify-green;
        }
    }
}