.browse-index {
    display: flex;
    max-width: 100%;
    min-width: 100%;
    flex-direction: column;
    position: relative;
    min-height: 260px;
    border: 0;
    margin: 0;
    padding: 0;
    background-color: #121212;

    h1 {
        color: #ffffff;
        font-family: SpotifyMix-bold,SpotifyMix, Arial, sans-serif;
        font-size: em(24px);
        cursor: default;
        margin-inline: 12px;
    }

    .category-list {
        display: grid;
        grid-gap: 14px;
        grid-auto-rows: min-content;
        grid-template-columns: repeat(auto-fill, minmax(254px, 1fr));
        margin-inline: 12px;

        .category-preview {
            border-radius: 8px;
            height: 100%;
            overflow: hidden;
            padding-bottom: 56.25%;
            position: relative;
            width: 100%;
            cursor: pointer;

            img {
                border-radius: 4px;
                box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
                position: absolute;
                width: 45%;
                bottom: 0;
                right: 0;
                transform: rotate(25deg) translate(18%, -2%);
                object-fit: cover;
            }
            h2 {
                hyphens: auto;
                max-width: 100%;
                overflow-wrap: break-word;
                padding: 16px;
                position: absolute;
                padding-inline-end: 30%;
                font-size: 1.5rem;
                text-wrap: balance;
                font-weight: 700;
                color: #ffffff;
                margin: 0;
            }
        }
    }
}
