.station-index {
    color: $spotify-light;
    display: flex;
    flex-direction: column;
    border-radius: 0.5em;

    section {
        width: 100%;

    }
}

.station-index-route {
    width: 100%;
    max-height: max-content;
    transition: background-color 2s ease;
    z-index: 0;
    div {
        position: 'relative';
        z-index: 1;
    }
}
