.station-index {

  color: $spotify-light;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  // background-color: $slider-background ;
  max-height: 100vh;

  border-radius: 0.5em;

  section {
    width: 100%;
    max-width: 1200px;
  }
}