.station-index {
    background-color: $spotify-dark; // Spotify dark theme background
    color: $spotify-light;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    section {
      width: 100%;
      max-width: 1200px;
      padding: 1rem;
    }
  }