.last-stations-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 12px;
    padding: 20px;
    padding-left: 23px;
    @media (min-width: 370px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: 1200px) {
        grid-template-columns: repeat(4, 1fr);
    }
    @media (min-width: 1200px) {
        grid-template-columns: repeat(4, 1fr);
    }
    @media (max-width: 768px){
        padding-left: 20px;
        padding-bottom: 0;
        gap: 5px;
        padding-top: 8px;
    }
    

    .playlist-card {
        display: grid;
        grid-template-columns: auto 1fr auto;
        align-items: center;
        background-color: #28282860;
        border-radius: 4px;
        color: white;
        gap: 10px;
        font-size: 2px;
        transition: background-color 0.3s;
        
        &:hover {
            cursor: pointer;
            background-color: #b3b3b356;
        }
        
        img.playlist-thumbnail {
            @media (min-width :2100px){
                width: rem(80px);
                height: rem(80px);

            }
            @media (min-width :1500px){
                width: rem(64px);
                height: rem(64px);

            }
            @media (max-width :1500px){
                width: rem(48px);
                height: rem(48px);

            }
            border-radius: 4px;
            object-fit: cover;
        }
        @media (max-width: 768px){
            gap: 0;
        }

        .playlist-info {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            overflow: hidden;


            .playlist-name {
                font-size: 15px;
                letter-spacing: 0.3px;
                font-family: SpotifyMix, Arial, sans-serif;
                font-weight: bolder;
                color: white;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                margin: 0 6px 0;

            }
        }

        .playlist-play-btn {

        @media (min-width : 1500px){
            width: rem(48px);
            height: rem(48px);
        }
        @media (max-width : 1500px){
            width: rem(32px);
            height: rem(32px);
        }
        @media (max-width: 768px){
            display: none;
        }
      
            margin-right: 5px;
            background-color: #1db954;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            color: black;
            cursor: pointer;
            visibility: hidden;


            svg {
                @media (min-width : 1500px){
                    width: rem(24px);
                    height: rem(24px);
                }
                @media (max-width : 1500px){
                    width: rem(16px);
                    height: rem(16px);
                }
            }
        }

        &:hover .playlist-play-btn {
            box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.5);
            visibility: visible;
        }
    }
}
