// Wrapper for each station card
.last-stations-grid{
    margin-left: 10px;
    gap: 6px;
    .playlist-card {
        display: flex;
        align-items: center;
        background-color: #282828; 
        border-radius: 8px;
        color: white;
        gap: 10px;
        transition: background-color 0.3s;
        &:hover {
            cursor: pointer;
            background-color: #333333;
        }
    
        img {
            width: 60px;
            height: 60px;
            border-radius: 4px; 
            object-fit: cover;
        }
    
        .playlist-info {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
    
            .playlist-name {
                font-size: line-height;
                font-weight: bold;
                color: white;
            }
        }
    
    
        .playlist-play-btn {
            width: rem(35px);
            height: rem(35px);
            margin: 10px;
            background-color: #1db954; 
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            color: black;
            cursor: pointer;
            visibility: hidden;
            
            svg{
                height: rem(20px);
            }
        }
        
    
        &:hover .playlist-play-btn {
            visibility: visible;
        }
    }
}
