/* General Layout */
.library {
    background-color: #121212;
    color: #fff;
    padding: 16px;
    width: 512px;
    /* Fixed width */
    max-width: 380px;
}

/* Library Route */
.library-route {
    background-color: #121212;
    /* Fixed width */
    transition: background-color 0.3s ease;
    border-radius: 8px;
    margin-left: 8px;
    padding-top: rem(16.8px);
}

.library-route.active {
    background-color: #121212;
    max-width: 75px;
    /* Set width to 64px when library is collapsed */
}

/* Action Button Container */
.action-btns- {
    width: 14.8rem;
    display: flex;
    background-color: #121212;
    align-items: center;
    transition: width 0.3s ease;
    margin-left: 16.8px;
}

/* Action Buttons */
.action-buttons {
    display: flex;
    gap: 10px;
    /* Adjust spacing between buttons */
    align-items: center;
    transform: translateX(48px);
}

/* Toggle Library Button */
.toggle-lib-btn {
    background-color: transparent;
    border: none;
    color: #fff;
    display: flex;
    align-items: center;
    padding: 0;
    cursor: pointer;

    margin-left: 7px;

    .library-icon {
        margin-right: 16px;
    }

    h3 {
        color: $spotify-gray;
        font-size: 1rem;
        font-weight: bold;
        text-wrap: nowrap;
    }
}

.toggle-lib-btn:hover h3,
.toggle-lib-btn:hover .library-icon {
    fill: $spotify-light;
    color: $spotify-light;
}

.library-icon {
    width: 24px;
    height: 24px;
}

.toggle-lib-btn h3 {
    width: 5.1rem;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    font-family: SpotifyMix;
    font-weight: none;
    letter-spacing: 0.1px;
}

/* Create Playlist Button */
.create-playlist {
    background-color: #181818;
    border: none;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: 50%;

    display: flex;
}

.create-playlist-icon {
    object-fit: contain;
}

/* Show More Button */
.show-more {
    color: #b3b3b3;
    height: 2.8vh;
    width: 2.8vh;
    background-color: #181818;
    border: none;
    border-radius: 50%;
    padding: 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-arrow-icon {
    width: 16px;
    height: 16px;
}

/* Filter Section */
.filter-library {
    paddding-left: 4px;
}

.sort-buttons {
    height: rem(31.6px);
    display: flex;
    justify-content: space-between;
    margin-bottom: 9px;
    width: 72px;
    margin-top: 22px;
    margin-left: 5px;

}

.sort-buttons button {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 12px;
    border: none;
    color: #ffffffe0;
    ;
    cursor: pointer;
    border-radius: 9999px;
    flex: 1;
    margin-right: rem(8px);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 1s;
    letter-spacing: 0.2px;
}

.sort-buttons button:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.search-and-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 5px;
    margin-right: 9px;
}

.search-container {
    flex: 1;
}

.search-input {
    margin-top: 5px;
    width: 50%;
    height: 3.5vh;
    padding: 0 12px;
    border-radius: 4px;
    border: 1px solid #181818;
    background-color: #434343a4;
    color: #838282;
    font-size: 15px;
    outline: none;
    max-width: 0;

    opacity: 0;
    transform: translateX(-65px);
    /* Move 30px to the left */
}

.search-input:focus {
    opacity: 0.7;
    /* Adjust opacity when the input is focused */
}

.search-input.open {
    top: 0;
    /* Adjust based on where you want it to appear vertically */
    left: 0;
    /* Adjust based on where you want it to appear horizontally */
    transform: translateX(-35px);
    /* Moves the input 45px to the left */
    max-width: 120px;
    /* Maximum width of the input */
    padding: 15px;
    opacity: 1;
    z-index: 9999;
    /* Keeps it above all other elements */
}

.sort-container {
    display: flex;
    position: relative;
    align-items: center;
}

.hamburger-menu {
    position: relative;
    /* Static positioning for the entire menu */
    width: 42px;
    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 9999;
}

.hamburger-btn {
    position: relative;
    /* Static positioning for the button itself */
}

.selected-sort {
    position: absolute;
    top: 0;
    right: 100%;
    margin-right: 7px;
    color: #b3b3b3;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    z-index: 9999;
}

/* Modal */
.modal {
    background-color: #282828;
    position: absolute;
    top: 100%;
    left: 0;

    border-radius: 4px;
    flex-direction: column;
    width: max-content;
    z-index: 10;
    display: none;
}

.modal.open {
    display: flex;
    /* Only display the modal when 'open' class is applied */
}

.modal button {
    font-size: 13px;
    background-color: #282828;
    color: white;
    border: none;
    padding: 8px;
    margin-bottom: 6px;
    box-shadow: box-shadow rgba(0, 0, 0, 0.3) 0px 16px 24px 0px, rgba(0, 0, 0, 0.2) 0px 6px 8px 0px;
}

.modal button:hover {
    color: #1ed760;
    background-color: rgba(255, 255, 255, 0.1);
    /* White with 10% opacity */
    padding: 8px;
}

/* Library List */
.library-list {
    overflow-y: auto;
    height: 100%;
    margin-top: 6.9px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .context-menu {
        background-color: #282828;
        border-radius: 4px;
        max-width: 350px;
        min-width: 180px;
        overflow-y: auto;
        padding: 0px 4px;
        list-style: none;
        border: 0;
        margin: 0;
        // vertical-align: baseline;
        box-sizing: border-box;
        display: block;
        cursor: default;
        color: #b3b3b3;

        li {
            border: 0;
            border-radius: 2px;
            color: hsla(0, 0%, 100%, 0.9);
            gap: 12px;
            padding: 8px;
            margin: 0;
            text-decoration: none;
            display: flex;
            line-height: normal;
            align-items: center;
            min-height: 42px;

            .delete-icon {
                fill: #b3b3b3;
                width: 17px;
                height: 17px;
                display: block;
                margin: 2px;
            }

            span {
                font-family: spotifyMix;
                color: #ffffff;
            }

            &:hover {
                background-color: #656565;
            }
        }
    }
}

.library-list::-webkit-scrollbar,
.station-index-route::-webkit-scrollbar {
    display: none;
}

.station-card {
    position: relative;
    display: flex;
    align-items: center;
    background-color: #121212;
    transition: transform 0.2s ease-in-out;
    width: rem(279px);
    /* Consider using px for more predictable behavior */
    margin-left: 19.3px;
    height: 4rem;
    cursor: pointer;
    overflow: hidden;
}

.station-card:hover::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.1);
    /* White with 10% opacity */
    pointer-events: none;
    border-radius: 8px;
}

/* Overlay Icon */
.overlay-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
}

.station-card:hover .overlay-icon {
    opacity: 1;
}

/* Optional SVG Icon Styling */
.overlay-icon img {
    position: absolute;
    width: 24px;
    height: 24px;
    transform: translateX(-113px);
}

/* Image Size */
.station-image {
    width: 48px;
    height: 48px;
    object-fit: cover;
    border-radius: 3px;
}

.station-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* Align items to the top */
    margin-left: 0.725rem;
    color: #fff;
    height: auto;
    /* Allow dynamic height */
    padding: 0;
    /* Remove any default padding */
    width: 100%;
    /* Ensure the width is consistent */
}

.station-name {
    font-size: 16px;
    font-weight: bold;
    font-family: SpotifyMix-light,;
    margin: 0;
    width: 88%;
    /* Remove margin to keep it close to the next element */
    white-space: nowrap;
    /* Prevent text from wrapping */
    overflow: hidden;
    /* Hide any overflow text */
    text-overflow: ellipsis;
    /* Add ellipsis (...) if the text overflows */
}

.station-details {
    display: flex;
    width: 100%;
    /* Ensure it takes the full width */
    margin-top: 0;
    /* Remove any space between station-name and station-details */
    padding: 0;
    /* Remove any padding that might add extra space */
}

.station-kind {
    font-size: 13px;
    color: #bbbbbbd7;
    margin: 0;
    font-family: SpotifyMix;
    /* Remove margin */
    white-space: nowrap;
    /* Prevent text from wrapping */
    overflow: hidden;
    /* Hide any overflow text */
    text-overflow: ellipsis;
    letter-spacing: 0.2px;
    /* Add ellipsis (...) if the text overflows */
}

.station-creator {
    font-size: 13px;
    color: #bbb;
    margin: 0;
    /* Remove margin */
    overflow: hidden;
    /* Hide any overflow text */
    text-overflow: ellipsis;
    font-family: SpotifyMix;
    letter-spacing: 0.2px;



    /* Add ellipsis (...) if the text overflows */
}
.dot {
    padding-left: 3.5px;
    margin-top: -6px;
    padding-right: 3.5px;
    color: #bbb;
    font-size: 16px;
    font-family: SpotifyMix;

}

/* Collapsed State for Library Route */
.library-content-collapsed .library-list-wrapper {
    padding: 0;
    background-color: #121212;
    width: 64px;
    margin-top: 30px;
    transform: translateX(-8px);
}

.library-list-wrapper {
    display: grid;
    grid-template-rows: auto 1fr;
    height: 95%;
    overflow: hidden;
    margin-left: 0.7em;
}

.library-content- {
    height: 100%;
    overflow: hidden;
}

.library-content-collapsed {
    background-color: #121212;
    width: 64px;
    height: 100%;
    overflow: hidden;
    display: grid;
    grid-template-rows: auto 1fr;
}

.action-btns-collapsed {
    background-color: #121212;
    max-width: 64px;
}

/* Collapsed Mode */
.library-list.collapsed {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    background-color: #121212;
    max-width: 64px;
}

.library-list.collapsed .station-card {
    background: none;
    max-width: 64px;
    object-fit: cover;
}

.library-list.collapsed .station-card .station-image {
    width: 48px;
    height: 48px;
    background-color: #121212;
    max-width: 64px;
    object-fit: cover;
}

.library-icon.collapsed.Svg-sc-ytk21e-0.bneLcE {
    transform: translateX(3px);
    margin-top: 11px;
}

.library-icon {
    fill: $spotify-gray;
}

.collapsed {
    transform: translateY(-11px);
}

.create-playlist,
.show-more,
.toggle-search-btn {
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: relative;
}

.create-playlist:hover,
.show-more:hover,
.toggle-search-btn:hover {
    background-color: #312f2f70;
}

.create-playlist-icon,
.right-arrow-icon,
.lib-search-icon {
    width: 16px;
    height: 16px;
    fill: $spotify-gray;
}

.create-playlist:hover .create-playlist-icon,
.show-more:hover .right-arrow-icon,
.toggle-search-btn:hover .lib-search-icon {
    fill: $spotify-light;
}

.hamburger-btn {
    background-color: transparent;
    border: none;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    cursor: pointer;

    h3 {
        color: $spotify-gray;
    }
}

.hamburger-btn:hover .selected-sort,
.hamburger-btn:hover .hamburger-icon {
    fill: $spotify-light;
    color: $spotify-light;
}

.hamburger-icon {
    width: 16px;
    height: 17px;
    fill: $spotify-gray;
}

.hamburger-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    background-color: transparent;
    border: none;

    p {
        color: $spotify-gray;
    }
}

.hamburger-btn:hover .selected-sort,
.hamburger-btn:hover .hamburger-icon {
    fill: rgba(255, 255, 255, 0.781);
    color: rgba(255, 255, 255, 0.781);
}

.hamburger-btn:hover .hamburger-icon {
    scale: 1;
}

.hamburger-btn:hover .selected-sort {
    font-weight: 600;
}

.selected-sort {
    max-width: max-content;
    font-family: SpotifyMix;
}