/* General Layout */
.library {
    background-color: #181818;
    color: #fff;
    padding: 16px;
    width: 512px;
    /* Fixed width */
    max-width: 380px;
    /* Ensure it doesn’t exceed this width */
}

/* Library Route */
.library-route {
    background-color: #181818;
    width: 344px;
    /* Fixed width */
    transition: background-color 0.3s ease;
    border-radius: 8px;
}

.library-route.active {
    background-color: #121212;
    max-width: 64px;
    /* Set width to 64px when library is collapsed */
}

/* Action Button Container */
.action-btns- {
    height: 3.7vh;
    width: 14.8rem;
    display: flex;
    background-color: #181818;
    align-items: center;
    margin-bottom: 16px;
    transition: width 0.3s ease;
}

/* Action Buttons */
.action-buttons {
    display: flex;
    gap: 10px;
    /* Adjust spacing between buttons */
    align-items: center;
    transform: translateX(105px);
}

/* Toggle Library Button */
.toggle-lib-btn {
    background-color: transparent;
    border: none;
    color: #fff;
    display: flex;
    align-items: center;
}

.library-icon {
    width: 20px;
    height: 20px;
}

.toggle-lib-btn h3 {
    width: 7rem;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    font-size: 0.8rem;
}

/* Create Playlist Button */
.create-playlist {
    background-color: #181818;
    border: none;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    display: flex;
}

.create-playlist-icon {
    width: 18px;
    height: 18px;
    object-fit: contain;
}

/* Show More Button */
.show-more {
    color: #b3b3b3;
    height: 2.8vh;
    width: 2.8vh;
    background-color: #181818;
    border: none;
    border-radius: 50%;
    padding: 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-arrow-icon {
    width: 16px;
    height: 16px;
}

/* Filter Section */

.sort-buttons {
    height: 2.96vh;
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
    width: 72px;
}

.sort-buttons button {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 13px;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 9999px;
    flex: 1;
    margin: 0 0.3125rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-and-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.toggle-search-btn {
    background-color: #181818;
    color: #b3b3b3;
    border: none;
    cursor: pointer;
    padding: 8px 16px;
    border-radius: 50px;
    font-size: 10px;
    flex-shrink: 0;
}

.search-container {
    flex: 1;
}

.search-input {
    margin-top: 5px;
    width: 50%;
    height: 3.5vh;
    padding: 0 12px;
    border-radius: 4px;
    border: 1px solid #181818;
    background-color: #434343a4;
    color: #838282;
    font-size: 15px;
    outline: none;
    transition: max-width 0.3s ease, opacity 0.3s ease, transform 0.3s ease;
    max-width: 0;
    /* Start with hidden input */
    opacity: 0;
    transform: translateX(-65px);
    /* Move 30px to the left */
}

.search-input:focus {
    opacity: 0.7;
    /* Adjust opacity when the input is focused */
}

.search-input.open {
    max-width: 70px;
    min-width: 188px;
    padding: 8px;
    opacity: 1;
    transform: translateX(-35px);
}

.lib-search-icon {
    width: 32px;
    height: 32px;
    object-fit: contain;
}

.sort-container {
    display: flex;
    align-items: center;
}

.selected-sort {
    color: #b3b3b3;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 50px;
}

.hamburger-menu {
    background-color: #181818;
    position: relative;
    width: 36px;
    justify-content: center;
    align-items: center;
}

.hamburger-btn {
    background-color: #181818;
    border: none;
    color: #b3b3b3;
    cursor: pointer;
    margin-left: 5px;
    height: 3.8vh;
    width: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hamburger-icon {
    width: 16px;
    height: 16px;
}

/* Modal */
.modal {
    background-color: #282828;
    position: absolute;
    top: 100%;
    left: 0;

    border-radius: 4px;
    flex-direction: column;
    width: max-content;
    z-index: 10;
    display: none;
}

.modal.open {
    display: flex;
    /* Only display the modal when 'open' class is applied */
}

.modal button {
    font-size: 13px;
    background-color: #282828;
    color: white;
    border: none;
    padding: 8px;
    margin-bottom: 6px;
    box-shadow: box-shadow rgba(0, 0, 0, 0.3) 0px 16px 24px 0px, rgba(0, 0, 0, 0.2) 0px 6px 8px 0px;
}

.modal button:hover {
    color: #1ed760;
    background-color: rgba(255, 255, 255, 0.1);
    /* White with 10% opacity */
    padding: 8px;
}

/* Library List */
.library-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.station-card {
    position: relative;
    /* Needed for overlay positioning */
    display: flex;
    align-items: center;
    background-color: #181818;
    padding: 0.625rem;
    transition: transform 0.2s ease-in-out;
    width: 20.5rem;
    height: 4rem;
    cursor: pointer;
    overflow: hidden;
}

/* Add a white overlay with 10% opacity on hover */
.station-card:hover::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.1);
    /* White with 10% opacity */
    pointer-events: none;
    border-radius: 8px;
}

/* Overlay Icon on Hover */
.overlay-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) translateX(-130.2px);
    opacity: 0;
    transition: opacity 0.3s ease;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 12px;
}

.station-card:hover .overlay-icon {
    opacity: 1;
}

/* Optional SVG Icon Styling */
.overlay-icon img {
    width: 24px;
    height: 24px;
}

/* Image Size */
.station-image {
    width: 48px;
    height: 48px;
    object-fit: cover;
}

.station-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    margin-left: 0.625rem;
    color: #fff;
}

.station-name {
    font-size: 1rem;
    font-weight: bold;
    text-align: right;
}

.station-artist {
    font-size: 0.875rem;
    color: #bbb;
    margin-top: auto;
}

/* Collapsed State for Library Route */
.library-content-collapsed .library-list-wrapper {
    padding: 0;
    width: 4rem;
    background-color: #121212;
    width: 64px;
}

.library-content-collapsed {
    background-color: #121212;
    width: 64px;
}

.action-btns-collapsed {
    background-color: #121212;
    max-width: 64px;
}

/* Collapsed Mode */
.library-list.collapsed {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
    background-color: #121212;
    max-width: 64px;
}

.library-list.collapsed .station-card {
    background: none;
    max-width: 64px;
}

.library-list.collapsed .station-card .station-image {
    width: 48px;
    height: 48px;
    background-color: #121212;
    max-width: 64px;
}
