.nav-btns {
    transform: translateX(22px);
    display: flex;
    align-items: center;
    gap: 10px;
    height: 3em;
    padding-top: 15px;
    margin-right: auto;
    padding-left:2px;
    // @media (max-width: 768px){
    //    display: none;
    // }
    .nav-btn,
    .nav-btn-active {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 14px;
        padding: 0 14px;
        height: rem(32px); 
        width: auto;
        border-radius: 1.8em;
        text-transform: none;
        font-family: SpotifyMix, sans-serif;
        box-shadow: none;
        padding: rem(10px);
        border: none;
        cursor: pointer;
    }

    .nav-btn-active {
        background-color: white;
        color: black;
    }

    .nav-btn {
        background-color: rgba(255, 255, 255, 0.1);
        color: white;
        padding: 11px;
        transition: background-color 0.3s;

        &:hover {
            background-color: rgba(255, 255, 255, 0.2);
        }
    }
}
