.song-list{
    padding-top: 10.5px;
    padding-left: 21px;
    height: 100vh;
}
.playing-gif {
    position: relative;
    left: em(18px);
    margin: 0;
}

.duration-icon {
    position: relative;
    right: em(18px);
    fill: #b3b3b3;
    width:16px;
    height:16px;
}

.liked-songs-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    width: 16px;
    height: 16px;
    .liked-icon {
        fill: #1ed760; 
        width: 16px;
        height: 16px;
    }
    .not-liked-icon {
        width: 16px;
        height: 16px;
        display: none;
        fill: #b3b3b3;
        &:hover{

            fill: #ffffff;
        }
        
    }

}

.song-item:hover .not-liked-icon {
        display: block;
}



// section {
//     padding: 15px;
//     background-color: $spotify-preview-bg;
//     border-radius: 8px;
// }

// .contentSpacing {
//     display: grid;
//     // grid-template-columns: 1fr 1fr ;
//     grid-template-rows: auto 1fr;
//     grid-template-areas:
//         'nav'
//         'songs ';

//     padding: 0;
//     hr {
//         width: auto;
//         margin: 0 0 0 1.3em;
//     }
//     .songs-nav {
//         grid-area: nav;
//         display: grid;
//         grid-template-areas: 'count title duration';
//         grid-template-columns: auto 1fr 1fr;
//         grid-gap: 1em;
//         padding-top: 20px;
//         .song-count {
//             padding-left: 1em;
//             grid-area: count;
//             margin-left: 1.8em;
//         }

//         .song-title {
//             grid-area: title;
//             padding-left: 0.2em;
//             margin: 0;
//         }

//         .song-duration {
//             grid-area: duration;
//         }
//     }

//     .song-list {
//         grid-area: songs;
//         margin: 0;

//         .song-idx {
//             padding-left: 1em;
//             margin-left: 1.9em;
//             padding: 0;
//         }

//         .details {
//             display: flex;
//             align-items: center;
//             padding: 0.5em 0 0 1em;
//         }
//         hr {
//             width: 100%;
//         }
//         // .duration {}
//     }

//     .song-nav-duration {
//         justify-self: end;
//     }
// }

// ul {
//     list-style-type: none;
//     padding: 0;
// }

// .song-item {
//     display: flex;
//     align-items: center;
//     border-radius: 8px;
//     position: relative;
//     padding: 0;
//     margin: 0;
//     cursor: pointer;

//     & :hover,
//     &:hover {
//         background-color: rgb(144, 144, 144);
//     }
// }

// .song-item:hover {
//     .song-index,
//     .play-icon,
//     .details,
//     .add-btn,
//     .duration {
//         background-color: rgb(144, 144, 144);
//     }
//     .play-icon {
//         border-radius: 0px;
//     }
// }

// .add-btn {
//     border: none;
// }

// .song-index,
// .play-icon {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     border-radius: 50%;
//     font-weight: 600;
//     width: rem(20px);
//     color: white;
// }

// .song-index {
//     opacity: 0.3;
//     padding: 0;
// }

// .play-icon {
//     cursor: pointer;
//     opacity: 1;
//     max-width: fit-content;
// }

// .song-item img {
//     width: rem(40px);
//     height: rem(40px);
//     border-radius: 8px;
//     object-fit: cover;
// }

// .song-details {
//     display: flex;
//     flex-direction: column;
//     gap: 5px;
//     color: $spotify-gray;
//     flex: 1;
// }

// .song-title {
//     font-size: 1rem;
//     font-weight: 600;
//     color: $spotify-light;
//     padding-left: 1em;
// }

// .song-artist {
//     font-size: 0.875rem;
//     color: rgba(255, 255, 255, 0.7);
// }

// .song-meta {
//     display: flex;
//     justify-content: space-between;
//     font-size: 0.875rem;
//     color: rgba(255, 255, 255, 0.6);
// }

// .songs-nav {
//     display: flex;
//     justify-content: space-between;
//     margin-bottom: rem(7px);
//     opacity: 0.6;

//     .song-nav-header,
//     .song-nav-duration {
//         display: flex;
//         padding: 0;

//         span {
//             font-size: 0.875rem;
//             font-weight: 600;
//             color: $spotify-light;
//         }
//     }

//     hr {
//         border: 0;
//         border-top: 1px solid rgba(255, 255, 255, 0.2);
//         margin-top: 10px;
//     }
// }

// .play-link {
//     font-size: 0.9rem;
//     color: $spotify-green;
//     transition: color 0.2s;
// }

// hr {
//     opacity: 0.2;
// }

// .find-more-btn {
//     background: none;
//     border: none;
//     padding: 0;
//     color: white;
//     font-size: 1rem;
//     font-weight: bold;
//     cursor: pointer;
//     text-decoration: none;
//     display: flex;
//     justify-content: flex-end;
// }
