.song-list {
    padding-top: 10px;
    padding-left: 23px;
    height: 100%;

    @media (max-width: 768px) {
        padding-top: 0;
        padding-left: 0;
        margin-right: 0 !important;
        hr{
            display: none;
        }
        .num-play-icon{
            display: none !important;
        }
        .song-img-mobile{
            margin-left: 0;
        }
    }
}

.playing-gif {
    position: relative;
    left: em(18px);
    margin: 0;
}

.duration-icon {
    position: relative;
    right: em(18px);
    fill: #b3b3b3;
    width: 16px;
    height: 16px;
}

.liked-songs-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: contents;

    .liked-icon {
        fill: #1ed760;
        width: 16px;
        height: 16px;
    }

    .not-liked-icon {
        width: 16px;
        height: 16px;
        display: none;
        fill: #b3b3b3;

        &:hover {

            fill: #ffffff;
        }

    }

}

.song-item:hover .not-liked-icon {
    display: block;
}

.delete-song-btn {
    background-color: #282828;
    border-radius: 4px;
    max-width: 350px;
    min-width: 180px;
    overflow-y: auto;
    padding: 0px 4px;
    list-style: none;
    border: 0;
    margin: 0;
    // vertical-align: baseline;
    box-sizing: border-box;
    display: block;
    cursor: default;
    color: #b3b3b3;

    li {
        border: 0;
        border-radius: 2px;
        color: hsla(0, 0%, 100%, 0.9);
        gap: 12px;
        padding: 8px;
        margin: 0;
        text-decoration: none;
        display: flex;
        line-height: normal;
        align-items: center;
        min-height: 42px;

        .delete-icon {
            fill: #b3b3b3;
            width: 17px;
            height: 17px;
            display: block;
            margin: 2px;
        }

        span {
            font-family: SpotifyMix, Arial, sans-serif;
            color: #ffffff;
        }

        &:hover {
            background-color: #656565;
        }
    }
}