.station-container {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
  }
  
  .station-details-container h1 {
    color: $spotify-light;
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 10px;
  }
  
  .station-container p {
    color: $spotify-gray;
  }
  
  .station-container img {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  .station-container button {
    padding: 8px 15px;


    border-radius: 20px;
    font-weight: 600;
    transition: background-color 0.2s;
  }
  
  .station-container button:hover {
    background-color: darken($spotify-green, 5%);
  }
  

  .playlist-actions {
    display: flex;
    gap: 0;
    margin-top: 5rem;

    .play-button,
    .more-options-button {
        background: none;
        border: none;
        color: #1ed760;
        font-size: 70px;
        cursor: pointer;
    }

    .sort-button {
        background: none;
        border: none;
        margin-left: auto;
        cursor: pointer;

        img {
            width: 20px;
            height: 20px;
        }
    }
}