.upper-station-details{
    display: flex;
    flex-direction: column;
    gap: 1rem;

    color: #fff;

    .upper-station-container {
        display: flex;
        flex-direction: row;


        .playlist-image {
            width: 212px;
            height: 212px;
            
        }

        .playlist-details {
            display: flex;
            flex-flow: column;
            justify-content: flex-end;
            align-self: center;
            grid-template-rows: auto auto auto;
            padding: 0 0 0 1em;

            .playlist-label {
                grid-area: label;
                font-size: 0.875rem;
                color: #ccc;
                text-transform: uppercase;
            }

            .playlist-title {
                grid-area: title;
                font-size: 5rem; /* Initial size */
                font-weight: bold;
                margin: 0;
                line-height: 1.2;
                transition: transform 0.3s ease; /* Smooth transition for scaling */
            }
            
            /* Shrink the title when the container is too small */
            @media (max-width: 768px) {
                .playlist-title {
                    transform: scale(0.8); /* Shrink by 20% */
                }
            }
            
            @media (max-width: 480px) {
                .playlist-title {
                    transform: scale(0.6); /* Shrink by 40% */
                }
            }
            
            

            .playlist-description {
                grid-area: description;
                font-size: 1rem;
                color: #b3b3b3;
                margin-top: 0.5rem;
            }

            .playlist-creator {
                grid-area: creator;
                display: flex;
                align-items: center;
                gap: 0.5rem;
                font-size: 1rem;
                color: #b3b3b3;

                .creator-image {
                    width: 1.5rem;
                    height: 1.5rem;
                    border-radius: 50%;
                }

                .creator-name {
                    font-weight: 500;
                    color: #fff;
                    display: flex;
                    align-items: center;

                    img {
                        width: 1rem; 
                        height: 1rem;
                        margin-right: 0.25rem;
                    }
                }

                .saves-count,
                .playlist-duration {
                    margin-left: 1rem;
                    color: #b3b3b3;
                }
            }
        }
    }

    .playlist-actions {
        display: flex;
        gap: 1rem;
        align-items: center;
        margin-top: 1rem;

        .play-button {
            background-color: rgba(0, 0, 0, 0.5);
            font-size: 2rem;
            height: 3.75rem;
            width: 3.75rem;
            border: none;
            padding: 1rem;
            border-radius: 50%;
            cursor: pointer;
            transition: background-color 0.3s ease, transform 0.3s ease, filter 0.3s ease;
            background-color: $spotify-green;

            &:hover {
                background-color: #1ed760;
            }
        }

        .more-options {
            background: none;
            border: none;
            cursor: pointer;
            padding: 0.5rem;

            .dot-icon {
                width: 0.75rem; 
                height: 0.75rem;
                filter: grayscale(100%); 
            }
        }

        .sort-button {
            margin-left: auto;
            background: none;
            border: none;
            color: #b3b3b3;
            font-size: 1rem;
            cursor: pointer;
            padding: 0.75rem;

            &:hover {
                color: #fff;
            }
        }
    }
}