.station-list {
  display: flex;
  overflow-x: auto;  // Enables horizontal scrolling if the items overflow
  gap: 1rem;  // Space between items
  
  padding: 1rem 0;  // Vertical padding for spacing

  button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    color: inherit;
    
    &:hover {
      background-color: $spotify-hover-light; // Lighten on hover

      transition: transform 0.2s ease;
    }
  }
}