.header-station{
    padding: 22px;
    margin-top:10.5px;
    margin-bottom: 0;
    padding-bottom: 0;

    .playlist-actions{
        margin-top: 33px;
        margin-left: -13px;
    }
    @media (max-width: 768px) {
        margin-top: 0;
       
    }

}