.station-preview {
    position: relative;
    border-radius: 8px;
    text-align: center;
    color: $spotify-gray;
    cursor: pointer;


    transition: opacity 0.3s ease, transform 0.1s ease;

    // Hover effects and background overlay
    &:hover .play-button-container {
        transform: translateY(-55px);
        opacity: 1;
        
    }

    &:hover:before {
        
        opacity: 1; // On hover, show the background overlay
    }

    // Pseudo-element for background opacity on hover
    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(255, 255, 255, 0.1); // 10% opacity
        z-index: 0;
        opacity: 0;
        transition: opacity 0.3s ease;
        border-radius: 8px;
    }

    .station-preview-container {
        overflow: hidden;
        padding: 10px;
        z-index: 1; // Ensure container stays above the overlay
    }

    .station-preview-img {
        width: 100%;
        aspect-ratio: 1;
        object-fit: cover;
        transition: transform 0.3s ease;
        border-radius: 6px;
        z-index: 1; // Keep the image above the background overlay
    }

    // Play button container styles
    .play-button-container {
        position: absolute;
        right: em(17px);
        z-index: 2; // Ensure button stays above the overlay and image
        width: 48px;
        height: 48px;
        opacity: 0;
        transform: translateY(-45px);
        transition: opacity 0.3s ease, transform 0.5s ease;
        background-color: #1ED760;
        border-radius: 50%;

        .play-button {
            position: absolute;
            bottom: em(15px);
            right: em(14px);
            width: 24px;
            height: 24px;
            color: $spotify-light;
            border: none;
            border-radius: 50%;
            cursor: pointer;
            background-color: $spotify-green;
            transition: background-color 0.3s ease;
        }
    }

    .play-button-title {
        font-family: SpotifyMix-light;
        font-size: 1rem;
        text-align: start;
        color: #B3B3B3;
        font-weight: 500;
        z-index: 1; // Ensure title stays above the background overlay
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 100%; // Ensure it fits within the container width
    }

    .station-description {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: baseline;
        padding-top: 0.5em;

        .station-name {
            z-index: 1;
        &:hover {
            cursor: pointer;
            text-decoration: underline
         }

            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

}