.station-preview {
  border-radius: 8px;
  overflow: hidden;
  padding: 1em;
  text-align: center;
  color: $spotify-gray;
  position: relative;

  transition: transform 0.3s ease;
  height: 236px;
  width: 178px;

  .station-preview-img {
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
    transition: transform 0.2s ease;
    border-radius: 6px;
  }

  .play-button-container {
    position: absolute;
    bottom: 0.5em; /* Adjusted to bottom-left corner */
    left: 0.5em;
    display: block;
    z-index: 1;

    opacity: 0;
    transition: opacity 0.3s ease;
    transform: translateY(-65px) translateX(102px); 
  
    .play-button {
      background-color: rgba(0, 0, 0, 0.5);
      color: $spotify-light;
      font-size: 0.2; /* Increased font size for larger icon */
      border: none;
      padding: 0.5rem; /* Increased padding for a bigger button */
      border-radius: 50%;
      cursor: pointer;
      transition: background-color 0.3s ease, transform 0.3s ease, filter 0.3s ease;
      background-color: $spotify-green;
  
      &:hover {
        filter: brightness(1);
        transform: scale(1.15); /* Increased scale on hover */
      }
    }
  }
  
  &:hover {
    .play-button-container {
      display: block;
      opacity: 1;
    }
  }
  
  h3 {
    font-size: 1rem;
    margin: 0.5rem 0;
    color: $spotify-light;
    font-weight: 500;
  }
}

.play-button img {
  width:27px; /* Adjust image size */
 
  object-fit: contain; /* Ensure it fits inside the button */
}
