.main-container {
    display: grid;
    grid-template-columns: minmax(auto, 288px) 1fr;
    grid-template-areas:
        'h h '
        'l m '
        'p p ';
    background-color: $player-background;
    height: 100vh;
    grid-template-rows: auto 1fr auto;
    overflow: hidden;
    margin-inline: auto;
}

.mobile-navbar{
    grid-area: n;
    display: none !important;
   
}

@media (max-width: 768px) {
    .main-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
            'm'
            'p'
            'n';
        grid-template-rows: auto 1fr auto; 
        padding: 0; 
        gap: 0; 
    }

    .station-index-route{
        margin: 0 !important;
        
    }


    .mobile-navbar {
        display: block !important; /* Force visibility on mobile */
        visibility: visible;
    }


    .library-route {
        display: none !important;
        visibility: hidden;
        pointer-events: none;
        height: 0;
        width: 0;
        overflow: hidden;
    }
    
    .app-header {
        display: none !important;
        visibility: hidden;
        pointer-events: none;
        height: 0;
        width: 0;
        overflow: hidden;
    }



    .app-player.full  {
        bottom: 0;
        width: 100%;
        background-color: rgba(42, 42, 42, 0.722);


        border-radius: 10px;
        

    }

    .next-btn{

        background-color: rgba(42, 42, 42, 0) !important;


    }
    .back-btn{

        background-color: rgba(42, 42, 42, 0) !important;


    }

    .progress-bar{

        width: 300px !important;
    }

    .image-container{

        width: 40px !important;
        height: 50px !important;
        margin-bottom: 10px !important;
    }

    .volume-control{

        width: 90px;
        transform: translateX(-20px);
    }


 

}
@media (max-width: 400px) {

    .station-index-route{
        margin: 0 !important;
        border-radius: 0px !important;
    }





    .app-player.full  {
        bottom: 0;
        width: 100%;
        background-color: rgba(42, 42, 42, 0.722);
        border-radius: 0px;
        

    }

   
 

}





.library-route {
    grid-area: l;
    background-color: #f4f4f4;
    height: 100%;
    overflow: hidden;

}

.app-player {
    grid-area: p;
}

.app-header{
    grid-area: h;
}
.station-index-route {
    overflow-y: scroll;
    grid-area: m;
    align-items: center;
    overflow-y: auto;
    align-self: start;
    height: 100%;
}


