.main-container {
    display: grid;
    grid-template-columns: minmax(auto, 288px) 1fr;
    grid-template-areas:
        'h h '
        'l m '
        'p p ';
    background-color: $player-background;
    height: 100vh;
    grid-template-rows: auto 1fr auto;
    overflow: hidden;
    margin-inline: auto;
}

@media (max-width: 768px) {
    .main-container {
        grid-template-columns: 1fr; /* Single column layout */
        grid-template-areas:
            'h'
            'm'
            'm'
            'p'; /* Stacks the sections vertically */
        grid-template-rows:  auto auto auto; /* Adjust rows for stacked layout */
    }

    .library-route {
        display: none;
    
    }
}

.library-route {
    grid-area: l;
    background-color: #f4f4f4;
    height: 100%;
    overflow: hidden;

}

.app-player {
    grid-area: p;
}

.app-header{
    grid-area: h;
}
.station-index-route {
    overflow-y: scroll;
    grid-area: m;
    align-items: center;
    overflow-y: auto;
    align-self: start;
    height: 100%;
}