.main-container {
    display: grid;
    grid-template-columns: 1fr 19fr;
    grid-template-rows: 0.09fr 6fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        '. . '
        'library main '
        '. . ';

    > * {
        grid-column: 2;

        &.full {
            grid-column: 1 / -1;
        }
    }
    background-color: $player-background;

}
.content {
    display: contents; /* This lets `library-route` and `station-index-route` follow the `main-container` grid layout */
}
.library-route {
    grid-area: library;
    background-color: #f4f4f4;
    padding: rem(10px);
}

.station-index-route {
    grid-area: main;
    align-items: center;
    overflow-y: auto;
}
