@font-face{
    font-family: SpotifyMix;
    src: url(../../../../public//assets/fonts/SpotifyMix-Regular.ttf);
}
@font-face{
    font-family: SpotifyMix-Extrabold;
    src: url(../../../../public//assets/fonts/SpotifyMix-Extrabold.ttf);
}