@font-face{
    font-family: SpotifyMix;
    src: url(../../../../public/assets/fonts/SpotifyMix-Regular.ttf);
}
@font-face{
    font-family: SpotifyMix-Extrabold;
    src: url(../../../../public/assets/fonts/SpotifyMix-Extrabold.ttf);
}
@font-face{
    font-family: SpotifyMix-bold;
    src: url(../../../../public/assets/fonts/SpotifyMix-Bold.ttf);
}
@font-face{
    font-family: SpotifyMix-light;
    src: url(../../../../public/assets/fonts/SpotifyMix-Light.ttf);
}