@font-face{
    font-family: SpotifyMix;
    src: url(/assets/fonts/SpotifyMix-Regular.ttf);
}
@font-face{
    font-family: SpotifyMix-Extrabold;
    src: url(/assets/fonts/SpotifyMix-Extrabold.ttf);
}
@font-face{
    font-family: SpotifyMix-bold;
    src: url(/assets/fonts/SpotifyMix-Bold.ttf);
}
@font-face{
    font-family: SpotifyMix-light;
    src: url(/assets/fonts/SpotifyMix-Light.ttf);
}
// @font-face{
//     font-family: CircularSp-Hebr;
//     src: url(../../../../public/assets/fonts/Circular\ Font\ Family/);
// }