// Colors
$spotify-green: #1ed760;
$spotify-dark: #121212;
$spotify-gray: #b3b3b3;
$spotify-light: #ffffff;
$spotify-preview-bg: #181818;
$spotify-hover-light: #333333;
$player-background: #000000;
$slider-hover: #1db954;
$slider-background: #2a2a2a;

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;
