// Colors
$spotify-green: #1ed760;
$spotify-dark: #121212;
$spotify-gray: #b3b3b3;
$spotify-light: #ffffff;
$spotify-preview-bg: #121212;
$spotify-hover-light: #333333;
$player-background: #000000;
$slider-hover: #1db954;
$slider-background: #121212;

$icons: #b3b3b3;
$icons-hover: #ffff;
$input-wrapper-background: #1f1f1f;

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;
